{% extends 'base.html' %}

        {% block content %}
       
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h2 class="about-header text-center">About Us</h2>
                    <p class="section-title">At <strong>Iolyt Group</strong>, we are passionate about bringing the latest and greatest in tech directly to you. Whether you're looking for high-performance laptops, the latest smartphones, home entertainment systems, or smart home devices, we have everything you need to stay ahead in the digital world.</p>
                    
                    <h3 class="section-title">Our Mission</h3>
                    <p><strong>Our mission is simple:</strong>, our mission is simple: to provide our customers with the best selection of high-quality electronics at competitive prices. We believe that technology should be accessible, reliable, and designed to improve your life. Our team is committed to offering exceptional customer service, expert advice, and the best deals on the market.</p>
                </div>
            </div>
        </header>
      
        <header class="bg-light py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-left text-black">
                    <h3 class="section-title">What We Offer</h3>
                    <ul>
                        <li><strong>Latest Gadgets & Electronics:</strong> From smartphones and tablets to smartwatches, laptops, and gaming gear.</li>
                        <li><strong>Home & Office Technology:</strong> Electronics for both home and office use, including appliances and equipment.</li>
                        <li><strong>Expert Recommendations:</strong> Our team helps you make informed decisions with personalized advice.</li>
                        <li><strong>Reliable Delivery:</strong> Fast, secure shipping to ensure your purchases arrive on time.</li>
                    </ul>

                    <h3 class="section-title">Why Choose Iolyt Group?</h3>
                        <ul>
                            <li><strong>Wide Selection:</strong> A vast range of electronics from the most trusted brands.</li>
                            <li><strong>Quality Assurance:</strong> Only the highest quality products to ensure great performance and longevity.</li>
                            <li><strong>Customer-Centered Service:</strong> A dedicated support team ready to assist you with any inquiries.</li>
                            <li><strong>Competitive Prices:</strong> We aim to offer the best prices for top-notch electronics.</li>
                        </ul>
                </div>
            </div>
        </header>
        
                
        {% endblock %}
